* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Tahoma;
}
h2 {
    margin: 20px auto;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    -webkit-text-fill-color: palegreen;
    -webkit-text-stroke: 2px #454545;
    position: relative;
    width: fit-content;
}
h2::before {
    content: attr(data-text);
    position: absolute;
    -webkit-text-fill-color: #11a411;
    width: 0;
    white-space: nowrap;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}
h2:hover::before {
    width: 100%;
}
